/*Home Page Properties*/

/*For Head*/
head{
    overflow: hidden;
    border-radius: 50%;
}

/* For Nav Bar */
.topnav {
    overflow: hidden;
    background-color: #5d9cdc;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: xx-large;
    transition: color 0.3s, text-decoration 0.3s;
}

a.nav1 {
    float: right;
    margin-right: 50px;
}

.topnav a:hover {
    color: rgb(0, 0, 0);
}




/*For Body*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow: auto;
}
.body1 {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/*For Buttons*/
.btn1 {
    float: right;
    margin-right: 150px;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4d86ef;
    border: 3px solid rgb(231, 227, 227);
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 30px;
}

.btn1:hover {
    background-color: #2237d5;
}

.btn1:active {
    background-color: #274fe1;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #274fe1;
}
  
.btn2:hover {
    background-color: #274fe1;
    color: white;
}

.btn3{
    width: 150px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: white; 
    color: black; 
    border: 2px solid #274fe1;
}

.btn3:hover {
    background-color: #274fe1;
    color: white;
}

.bp1{
    position: absolute; bottom: 0; 
    right: 0; margin: 20px;
}

.bp2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    margin-bottom: 28px;
    filter: blur(7px);
    pointer-events: none;
}

.bp3{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto; 
    text-align: center;
}


/*For Images*/
.img1 {
    height: 678px;
    width: 1535px;
}
.img2 {
    height: 678px;
    width: 1535px;
    filter: blur(7px);
}
.img3{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.img4{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 12px;
}
.img5{
    margin-left: 10px;
    margin-top: 4px;
    float: left;
    height: 60px;
    width: 70x;
    border-radius: 50%;
}
.img6{
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 8px;
    float: left;
    height: 50px;
    width: 60x;
    border-radius: 50%;
}

.rel{
    border-radius: 25%;
}

/*For Texts*/
.clinic-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.clinic-text1 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    filter: blur(7px);
}

.p1{
    font-size: 12px;
    margin-left: 100px;
}
.a1{
    color: white;
}
.a2{
    color: white;
    font-size: 18px;
}
.f1{
    font-size: 20px;
}
.f2{
    font-size: 15px;
    width: 250px;
}
.h1{
    width: 600px;
    text-align: left;
    font-size: 120px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(100, 100, 220), 0 0 10px rgb(0, 0, 104);
}
.contact-info{
    font-size: 5px;
    color: #2a89e7;
}

.SH1{
    text-align: center;
}
.font1{
    font-size: xx-large;
}


/*For CheckBoxs*/
.cb1{
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #000;
}

/*For Labels*/
.l1{
    font-size: 12px;
    margin-right: 20px;
}
/*For Divs*/
.login-container {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, #7881fa, rgb(2, 32, 255));
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.signup-container {
    height: 550px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, #7881fa, rgb(2, 32, 255));
    padding: 25px;
    margin-top: 25px;
    padding-bottom: 1px;
    padding-top: 10px;
    border-radius: 10px;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
.forgotpass-container {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, #7881fa, rgb(2, 32, 255));
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    color: white;
}

.about-container {
    padding: 30px;
    text-align: left;
    transition: transform 0.3s, opacity 0.5s;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}


.about-container:hover {
    transform: scale(1.06);
}

.about-container.show {
    opacity: 1;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.about-container {
    animation: fadeIn 1s ease-out;
    
}

.service-container {
    padding: 10px;
    text-align: left;
    transition: transform 0.3s, opacity 0.5s;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    opacity: 0;
    height: 500px;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 85px;
    overflow-y: scroll;
}

.service-container:hover {
    transform: scale(1.06);
}


.service-container.show {
   
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.service-container {
    animation: fadeIn 1s ease-out;
}

.div1{
    position: relative;
}

.div2{
    text-align: center;
}

/*For Icons*/
.fa-brands{
    font-size: 3em;
}
.fa-solid{
    font-size: 3em;
}
.fa1{
    font-size: 3em;
}

/*For Spans*/
.s1{
    margin-left: 20px;
}

/*For Tables*/
.td1{
    font-weight: bolder;
}
.tr1:hover{
    background-color: #f5f5f5;
}



/*FOR DASHBOARD  properties*/

/* Navigation Bar */
.navbar {
    position: fixed;
    background-color: #274fe1;
    color: white;
    padding: 1px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1; 
}

.logo {
    margin-left: 10px;
    float: left;
    font-size: 1.5em;
}


/* Dashboard Container */
.dashboard-container {
    display: flex;
}

.sidebar {
    position: fixed;
    width: 177px;
    background-color: #f8f9fa; 
    padding: 20px;
    height: 100%;
    overflow: auto;
    transition: width 0.3s;
    top: 60px; 
}

.sidebar:hover {
    width: 200px;
}

.sidebar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-links li {
    margin-top: 5px;
    margin-bottom: 20px;
}

.sidebar-links a {
    text-decoration: none;
    color: #000; 
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: color 0.3s; 
}

.sidebar-links a:hover {
    text-decoration: underline;
    color: #5d9cdc; 
}

.sidebar-links i {
    margin-right: 10px; 
}

.main-content {
    margin-left: 180px; 
    margin-top: 100px; 
    transition: margin-left 0.3s;
}
.sidebar:hover + .main-content {
    margin-left: 200px;
}

.page-header{
    margin-left: 10px;
}

/*For Icon*/
.icon1{
    margin-left: 1000px;
    font-size: 35px;
}

/*For Select*/
.form1{
    margin-top: 1px;
    height: 35px;
    text-align: center;
    width: 110px;
    margin-right: 10px;
    font-size: 15px;
}


/*For Buttons*/
.btn4{
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
}
.btn5{
    float: right;
    margin-right: 150px;
    margin-bottom: 10px;
}
.btn6{
    float: right;
    margin-right: 20px;
    width: 150px;
    margin-bottom: 10px;
}
.btn7{
    float: right;
    width: 150px;
    margin-right: 100px;
    margin-bottom: 10px;
}


/* Main Content */
.content{
    width: 1250px;
    margin-left: 10px;
}
.c1{
    overflow-y: scroll;
}
.page-header {
    margin-bottom: 20px;
}

/*For Tables*/
.th1{
    width: 300px;
}
.th2{
    width: 700px;
}
.th3{
    width: 200px;
}
.th4{
    width: 100px;
}
.th5{
    width: 400px;
}
.th6{
    width: 250px;
}

.table1{
    text-align: center;
}


/*Drop Down Account Icon*/
.dropbtn {
    width: 90px;
    background-color: #fefefe;
    color: #5d9cdc;
    padding: 12px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-right: 18px;
    border-radius: 50px;
    transition-duration: 0.2s;
    display: inline-block;
    
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #5d9cdc;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #5d9cdc;
    color: white;
}

/*For Breadcrumps*/
.breadcrumb{
    margin-left: 8px;
}

/*Image*/
.img7{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

/*Account Container*/
.con1{
    text-align: center;
}

/*For Text*/
.text1{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.text2{
    font-weight: bold;
}
.text3{
    font-weight: bold;
    text-align: center;
}

/*Button*/
.btn8{
    margin-left: 245px;
}
.btn9{
    float: left;
}
.btn10{
    float: right;
    height: 50px;
    width: 200px;
    font-size: large;
    padding: 10px;
    margin-right: 350px;
    margin-bottom: 20px;
}
.btn11{
    border-radius: 50%;
    float: right;
    font-size: small;
    border: none;
}
.btn12{
    margin-left: 200px;
    margin-bottom: 10px;
}
.btn13{
    float: right;
    margin-right: 70px;
    margin-bottom: 10px;
}
.btn14{
    margin-left: 220px;
    margin-bottom: 10px;
    width: 100px;
}

/*Overlay Prompt*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}


#overlay:target {
    display: flex;
}


.container1{
    width: 600px;
    height: 500px;
    overflow-y: auto;
}
.container2{
    width: 350px;
    height: 400px;
    padding: 30px;
}
.container3{
    width: 400px;
    height: 400px;

}



/*Link*/
.link1{
    text-decoration: none;
    color: #000;
}

/*Label*/
.date{
    font-weight: bold;
}

/*Card*/
.card1{
    background-color: #5d9cdc;
}